<!-- bottom footer -->
<div class="footer-bottom" style=" height: 300px; background: #222; padding: 30px 20px 20px; z-index: 99999; border: 1px solid #333;">
    <!-- copyright -->
   <div class="container" style="border-top: 5px solid #444; border-bottom: 1px solid #333; padding-top: 15px;">
        <div class="row">
            <div class="col-sm-8 gf_montserrat thin">
                 <h5 class="text-muted thin gf_muli mt5 mb5">
                    <span class="ico-share22 mr5 text-success"></span>
                    <span class="mr5">Like Us.</span> 
                    <span class="mr5">Share Us.<span class="mr5">
                    Follow Us.
                </h5>
                 <ul class="inline-li social_64 ml0 pl0 mt15">
                    <li><img src="/image/social/youtube_circle-128.png"/></li>
                    <li><img src="/image/social/twitter_circle-128.png"/></li>
                    <li><img src="/image/social/slideshare_circle-128.png"/></li>
                    <li><img src="/image/social/linkedin_circle-128.png"/></li>
                    <li><img src="/image/social/instagram_circle-128.png"/></li>
                    <li><img src="/image/social/facebook_circle-128.png"/></li>
                </ul>
                <!--/ copyright -->
            </div>
             <div class="col-sm-4 gf_montserrat text-right">
                <p class="text-muted bold mb5">BLACKCFA</p>
                <!-- copyright -->
                <ul class="unstyled gf_muli">
                    <li>Our Team</li>
                    <li>Partnerships</li>
                    <li>Contact Us</li>
                    <li>Terms and Policies</li>
                    
                </ul>
                <!--/ copyright -->
            </div>
        </div>
    </div>
    <!--/ container -->
</div>
<!--/ bottom footer -->