<!-- START Template Footer -->
<footer id="footer" role="contentinfo" class="pt60 pb60">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- About -->
            <div class="col-md-7">
                <h5 class="mt0">About Us</h5>
                <p>BlackCFA was founded in July 2014. The orgnaization is dedicated dedicated to connecting, supporting, and empowering black professionals that have achieved the CFA designation and those pursuing the CFA course of study. Stay tuned, we've got big plans.</p>
            </div>
            <!--/ About -->

            <!-- Address + Social -->
            <div class="col-md-3">
                <h5 class="mt0">Contact Us</h5>
                <address>
                    <strong>Black CFA</strong><br>
                    Washington, DC 94107<br>
                </address>
            </div>
            <!--/ Address + Social -->

             <!-- Address + Social -->
            <div class="col-md-2">
                <h5 class="font-alt mt0">Stay Connected</h5>
                <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Facebook"><i class="ico-facebook2"></i></a>
                <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Twitter"><i class="ico-twitter2"></i></a>
                <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Google+"><i class="ico-google-plus2"></i></a>
            </div>
            <!--/ Address + Social -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->

   <!-- bottom footer -->
    <div class="footer-bottom mt60">
        <!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 copyright">
                    <!-- copyright -->
                    <p class="nm copyright">&copy; Copyright 2014 by <a href="javascript:void(0);" class="">The Wildfyre Group</a>. All Rights Reserved.</p>
                    <!--/ copyright -->
                </div>
                <div class="col-sm-6 text-right legal">
                    <a href="javascript:void(0);" class="">Privacy Policy</a>
                    <span class="ml5 mr5">&#8226;</span>
                    <a href="javascript:void(0);" class="">Terms of Service</a>
                </div>
            </div>
        </div>
        <!--/ container -->
    </div>
    <!--/ bottom footer -->
</footer>
<!--/ END Template Footer -->