<!-- START Template Header -->
<header id="header" class="navbar navbar-fixed-top">
    <div class="container">
        <!-- START navbar header -->
        <div class="navbar-header">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <span class="logo-figure" style="margin-left:-4px;"></span>
                <span class="logo-text"></span>
            </a>
            <!--/ Brand -->
        </div>
        <!--/ END navbar header -->

        <!-- START Toolbar -->
        <div class="navbar-toolbar clearfix">
            <!-- START Left nav -->
            <%= render 'shared/navigation_member' %>
            <!--/ END nav collapse -->
        </div>
        <!--/ END Toolbar -->
    </div>
</header>
<!--/ END Template Header --> 