<div class="collapse navbar-collapse navbar-collapse-alt" id="navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#">
                <span class="meta">
                    <span class="text">About Us</span>
                </span>
            </a>
        </li>
        <li class="dropdown">
            <a href="#">
                <span class="meta">
                    <span class="text">Charterholdering Members</span>
                </span>
            </a>
        </li>
        <li class="dropdown">
            <a href="#">
                <span class="meta">
                    <span class="text">Our Partners</span>
                </span>
            </a>
        </li>
        <li class="dropdown">
            <a href="#">
            </a>
        </li>
        <li class="dropdown nh">
            <a href="<%= login_path %>" class="npl">
                <span class="btn btn-transparent">
                    <span class="">LOGIN</span>
                </span>
            </a>
        </li>
        <li class="dropdown nh">
            <a href="<%= signup_path %>" class="np">
                <span class="btn btn-transparent">
                    <span class="bold">SIGN UP </span>
                </span>
            </a>
        </li>
    </ul>
</div>

